.header {
  position: relative;
  border-color: $color-primary;
  background-image: url(../img/img-header.png);

  min-height: 100vh;
  color: $color-light;

  display: grid;
  align-items: center;
  padding: 150px 0;
}