@use "../../presets/" as *;
@use "../../mixins/" as *;

.header-menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;

  &__container {
    display: flex;
    align-items: center;

    @extend %container;
    gap: $gap;
  }
}